<h1>キリンったー</h1>
<p>へようこそ</p>

<h2>更新履歴</h2>
<p>
  ログイン機能(一般のみ)、投稿とユーザーの紐づけ、お気に入り機能の追加(db likes)、userprofileの拡充、パスワードの暗号化、css整理、管理者機能追加、パスワード変更画面追加
</p>

<h2>今後実装するもの(実装後更新履歴へ)</h2>
<ul>
  <li>スマホ対応(cssでする予定)</li>
  <li>大量の投稿を全部表示はできないから考える</li>
  <li>管理ユーザーだけが記事を投稿できる機能</li>
  <li>一般ユーザーの記事の保存機能</li>
  <li>プロフィール画像のトリミング機能付きアップロード</li>
  <li>ユーザー削除時に投稿とlikeも削除</li>
  <li>適当なemailで登録できないようにする</li>
  <li>flashメッセージの追加</li>
  <li>テストコードをかく</li>
  <li>いいね</li>
  <li>このリストの削除</li>
</ul>

<h2>エラーメモ</h2>
<p>
  imgタグ内の<%には＝必要、validatesに使ってないカラム名(コピペして気づかなかった＆エラー表示からは特定できなかった)、migrateファイルを消したらあかん、userインスタンスが使えない(未修整dbにimg_name登録されてないのがあるから？)(同じことがPostdbでもおこった、カラム追加した後db:resetしたほうがいい)、新しいカラムを追加してそのカラムが必須の場合は既存のdbにdefaultの値を設定しておく、user-editでpassword以外を更新しようとするとパスワードの空白更新はできないとエラー(validatesにcreateのみonする)、
</p>

<h2>未解決の素朴な疑問</h2>
<p>
  dbのidはデータを消しても連番にならない→無限？(リセットする方法がある？)、routeの記述単数複数系の書き方が微妙にわかってない、
</p>
<br><br>
