<h1>キリンったー</h1>
<p>へようこそ</p>
<h2>更新履歴</h2>
<ul>
  <li>ログイン機能(一般のみ)</li>
  <li>投稿とユーザーの紐づけ</li>
</ul>
<h2>今後実装するもの(実装後更新履歴へ)</h2>
<ul>
  <li>スマホ対応(cssでする予定)</li>
  <li>ログイン機能(一般と管理ユーザーを想定)</li>
  <li>管理ユーザーだけが記事を投稿できる機能</li>
  <li>一般ユーザーの記事の保存機能</li>
  <li>プロフィール画像のトリミング機能付きアップロード</li>
  <li>パスワードの暗号化</li>
  <li>flashメッセージの追加</li>
  <li>いいね</li>
  <li>このリストの削除</li>
</ul>
<h2>エラーメモ</h2>
<p>
  imgタグ内の<%には＝必要、validatesに使ってないカラム名(コピペして気づかなかった＆エラー表示からは特定できなかった)、migrateファイルを消したらあかん、userインスタンスが使えない(未修整dbにimg_name登録されてないのがあるから？)(同じことがPostdbでもおこった、カラム追加した後db:resetしたほうがいい)


</p>
<br><br>
