<div class="main-content">
  <h1>投稿一覧</h1>
  <p>ここは投稿一覧です</p>

  <%= link_to("新規投稿", new_post_path) %>
  <% @posts.each do |post| %>
  <div class="post-index">
    <%= link_to(post.content, post_path(post.id)) %>
  </div>
  <% end %>
</div>
