<div class="main-content">
  <h1>投稿する</h1>
  <p>aaa</p>

  <div class="post-new">
    <dib class="error-message">
      <% @post.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
    </dib>
    <%= form_tag(post_index_path, method: :post) do %>
    <textarea name="content"><%= @post.content %></textarea><br>
    <input type="submit" value="投稿">
    <% end %>
  </div>
</div>
