<div class="main-content">
  <h1>Post#show</h1>
  <p>詳細</p>

  <div class="">
    <%= @post.content %>
    <div>
      <%= @post.created_at %>
    </div>
    <%= link_to("編集", edit_post_path) %>
    <%= link_to("削除", @post , method: :delete) %>
  </div>
</div>
