<div class="main-content">
  <h1>ユーザー一覧</h1>
  <p>ここはユーザー一覧です(管理画面想定)</p>

  <div class="user-index">
    <table>
      <tr><th>user-name</th><th>email</th><th>password</th></tr>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to(user.name, "/user/#{user.id}") %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.password %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
