/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*共通-----------------------------------*/
 body {
   color: brack;
   background-color: #F9C270;
   margin: 0;
   min-height: 1vh;
 }
 .main {
   position: absolute;
   top: 64px;
   width: 100%;
   height: auto;
   min-height: 100%;
 }
 form input[type="submit"] {
  border: none;
  cursor: pointer;
}
.content{

}

 /*header-----------------------------------*/
 header {
   height: 64px;
   z-index: 1;
   width: 100%;
   background-color: #FFF67F;
 }
 .header-logo {
  float: left;
  /*padding-left: 20px;*/
  margin: 15px 30px;
  font-size: 22px;
}
 .header-menus {
   float: right;
 }

 .header-menus li {
   float: left;
   margin: 0 20px;
   list-style: none;
 }
